body {
  background-color: #ffffcc;
  color: #330000;
  font-family: Verdana;
  display: flex;
  justify-content: center;
}

#container {
  margin-top: 20px;
  height: 480px;
  width: 750px;
  border-style: solid;
  padding: 0px;
}

#logo {
  text-align: center;
  border-top: solid;
  border-bottom: solid;
  background-color: #ccaa66;
}

#leftcolumn {
  float: left;
  background-color: #e8d882;
  width: 130px;
  height: 320px;
  position: relative;
  padding-left: 20px;
  left: 0;
  white-space: pre-line;
}

#rightcolumn {
  float: right;
  background-color: #f1e8b0;
  width: 580px;
  height: 300px;
  padding: 10px;
}

#coffeepic {
  float: right;
}

#footer {
  background-color: #ccaa66;
  font-style: italic;
  font-size: small;
  text-align: center;
  border-top: solid;
  width: 750px;
  height: 49px;
  margin-top: 320px;
  padding-top: 20px;
}

/* Menu */
h2 {
  text-align: center;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
}

.table-container {
  max-height: 201px;
  overflow-y: auto;
}

th:first-child,
td:first-child {
  width: 80%;
  line-height: 13px;
}

th:last-child,
td:last-child {
  width: 20%;
  text-align: center;
}

/* Music */

.music-th:first-child,
.music-td:first-child {
  width: 75%;
}

.music-th:last-child,
.music-td:last-child {
  width: 25%;
}

.music-td {
  text-align: center;
}

/* View Menu */
.editbtn,
.archivebtn,
.activebtn {
  background-color: #141414;
  color: #ffffff;
  margin: 3px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  font-size: 15px;
  transition: 0.2s all;
  width: 75px;
}

.editbtn:hover {
  background-color: #6495ed;
}

.archivebtn:hover {
  background-color: #dc143c;
}

/* Add Menu */
form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 5px;
  margin-bottom: 10px;
}

.addbtn,
.updatebtn {
  width: 100px;
  background-color: #141414;
  color: #ffffff;
  margin: 3px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  font-size: 15px;
  transition: 0.2s all;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.addbtn:hover,
.updatebtn:hover,
.activebtn:hover {
  background-color: #008000;
}
